.play{
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 40px;
/* identical to box height */
letter-spacing: -0.03em;

color: #63B8B0;
}

.ground{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height */
    letter-spacing: -0.03em;
    
    color: #FF9B3F;
    }

.data{
    font-family: 'Josefin Sans';
    font-style: normal;
    color: #989898;

}